body {
  color: #3c3c3c;
  overflow-x: hidden;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 99vh;
  top: -120px;
  right: -180px;
  z-index: -100;
}

.hero-image img {
  width: auto;
  height: 100%;
  float: right;
}

.body-wrapper {
  max-width: 1200px !important;
  margin: 0 auto;
  position: relative;
}

.nav-menu {
  padding-top: 80px;
  position: relative;
}

.nav-menu-left {
  float: left;
}


.nav-menu-right {
  float: right;
}

button {
  font-style: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #3c3c3c;
  padding: 13.75px 33.32px;
  font-size: 14px;
  letter-spacing: 4px;
  background-color: #fbfbfb;
  opacity: 0.95;
  margin-right: 24px;
}

button:hover {
  background-color: #3c3c3c;
  color: #fbfbfb;
  cursor: pointer;
}

#btn-last {
  margin-right: 0px;
}

.hero {
  position: relative;
  width: 60%;
  float: left;
  clear: both;
}

.hero h1 {
  margin-top: 20vh;
  font-size: 73px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.15;
}

#btn-black {
  background-color: #3c3c3c;
  color: #fbfbfb;
}

#btn-black:hover, #btn-white:hover {
  background-color: #fff500;
  color: #3c3c3c;
  cursor: pointer;
}

.social {
  color: #3c3c3c;
  position: absolute;
  top: 80vh;

}

.social img {
 margin-right: 12px;
}
