body {
  color: #3c3c3c;
  overflow-x: hidden;
  background-color: #fdfdfd;
  margin: 0px;
}

a {
  text-decoration: none;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 99vh;
  top: -120px;
  right: -280px;
  z-index: -100;
}

.hero-image img {
  width: auto;
  height: 100%;
  float: right;
}

.hero-image-contact img {
  width: auto;
  height: 100%;
  float: right;
}

.hero-image-contact {
  position: absolute;
  width: 100%;
  height: 84vh;
  top: 50px;
  right: -360px;
  z-index: -100;
}

.body-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

.nav-menu {
  padding-top: 20px;
  position: relative;
}

.nav-menu-left {
  position: absolute;
  top: 32px;
}

.nav-menu-right {
  float: right;
}

button {
  font-style: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #3c3c3c;
  padding: 13.75px 33.32px;
  font-size: 14px;
  letter-spacing: 4px;
  background-color: #ffffff;
  margin-right: 24px;
}

button:hover {
  background-color: #3c3c3c;
  color: #fbfbfb;
  cursor: pointer;
}

#btn-last {
  margin-right: 0px;
}

.hero {
  position: relative;
  width: 60%;
  float: left;
  clear: both;
}

h1, h2 {
  margin-top: 20vh;
  font-size: calc(32px + 2.5vw);
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.15;
}

#btn-black {
  background-color: #3c3c3c;
  color: #fbfbfb;
}

#btn-black:hover, #btn-white:hover {
  background-color: #fff500;
  color: #3c3c3c;
  cursor: pointer;
}

.social {
  color: #3c3c3c;
  position: absolute;
  top: 80vh;
}

.social img {
  margin-right: 12px;
}

.hero-padding {
  width: 100vw;
  clear: both;
}

.info-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  clear: both;
  grid-gap: 10px;
  min-height: 500px;
  margin-top: 350px;
}

.info-1 {
  display: grid;
  grid-template-columns: auto auto;
}

.info-1 p {
  max-width: 340px;
}

.info-3 {
  display: grid;
  grid-template-columns: 116px auto 116px auto;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  padding-right: 100px;
  padding-left: 40px;
  line-height: 1.4;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  position: absolute;
  height: 2px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  color: #3c3c3c;
  background-color: #3c3c3c;
  left: 0;
  bottom: -22px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

#briefcase {
  margin-top: -10px;
}

.cert {
  display: grid;
  grid-template-columns: 82px auto;
  margin-top: 20px;
}

.cert-icon {
  width: 80px;
  height: auto;
}

.cert-text h2 {
  margin: 0px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  font-family: 'Nunito Sans', sans-serif;
}

.cert-text p {
  margin: 0px;
  padding-left: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.info-3 p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 20px;
}

.button-container {
  margin-top: 50px;
}

.button-container button {
  border: 2px solid #3c3c3c;
  font-weight: 600;
}

.button-container button:hover {
  background-color: #fff500;
  color: #3c3c3c;
}

.button-container-alt button {
  margin-top: 50px;
  border: 2px solid #3c3c3c;
  font-weight: 600;
}

.button-container-alt button:hover {
  color: #f8f8f8;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-top: 60px;
}

.project-center img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.project-section h1 {
  margin-top: 60px;
  font-size: 44px !important;
  margin-bottom: 40px;
}

.project-grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 30px;
}

.project-card {
  border: 2px solid #3c3c3c;
  width: 400px;
  min-height: 420px;
  position: relative;
}

.card-info {
  display: grid;
  grid-template-columns: 116px auto;
  background-color: #3c3c3c;
  color: #ccc;
  margin-top: -4px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.project-card img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  max-height: 330px;

}

.card-info p {
  margin-left: 14px;
  padding-left: 0px;
  font-size: 23px;
  margin-top: 10px;
  padding-right: 10px;

}

.small-text {
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 1;
  letter-spacing: 3px;
}

.footer-banner {
  width: 100vw;
  background-color: #f8f8f8;
  height: 430px;
  z-index: -1;
}

.banner-container {
  position: relative;
  max-width: 1340px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
  z-index: 0;
}

.banner-image {
  position: absolute;
  right: 5vw;
  top: 115px;
  z-index: 1;
}

.banner-title h2 {
  font-size: 44px;
  padding-top: 115px;
  line-height: 1.2;
  font-family: 'Nunito Sans', sans-serif;
  z-index: 2;
  margin-top: 40px;
}

.banner-title button {
  float: left;
  display: inline;
  z-index: 3;
  background-color: #fdfdfd;
}

.banner-title button:hover {
  background-color: #3c3c3c;
}

.banner-title p {
  margin-top: -8px;
  z-index: 4;
}

footer {
  background-color: #3c3c3c;
  height: 140px;
  width: 100%;
}

.footer-left {
  width: 50%;
  float: left;
}

.footer-left img {
  height: 50%;
  width: auto;
}

.footer-right {
  width: 50%;
  float: right;
  text-align: right;
}

.footer-right p {
  color: #ccc;
  margin-top: 22px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
}

.footer-social img {
  padding-right: 12px;
  margin-top: 16px;
}

.footer-sticky {
  position: fixed;
  bottom: 0;
}

.footer-relative {
  bottom: 0;
  position:relative;
  clear: both;
}

#project-header-img {
  float: none;
  padding-left: 100px;
}

.project-img {
  position: relative;
  padding-top: 15vh;
  float: right;
  width: 40%
}

.project-img img {
  float: right;
  width: 110%;
  height: auto;
}

.summary-container img {
  float: left;
  width: 80px;
  padding-right: 40px;
  padding-bottom: 140px;
}

.summary-container {
  width: 55%;
  float: left;
}

.summary-container p {
  max-width: 450px;
  padding-top: 0px;
}

.work-type-section {
  width: 45%;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 1fr 1fr;
}

.icon-text p {
  margin-left: 0;
  padding-left: 0;
}


.summary-container, .work-type-section {
  margin-top: 120px;
}

#project-end {
  padding-bottom: 80px;
  padding-top: 80px;
  width: 50%;
}

@media only screen and (max-width: 1330px) {
  .project-grid {
    grid-template-columns: 400px 400px;
  }
}

@media only screen and (max-width: 1233px) {
  .banner-image {
    position: relative;
    height: 160px;
    right: inherit;
    top: inherit;
    margin-bottom: 0px;
    padding-top: 40px;
  }

  .banner-image img {
    height: 100%;
    width: auto;
  }

  .footer-banner {
    padding-bottom: 40px;
  }

  .banner-title h2 {
    padding-top: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1045px) {
  .nav-menu-left a img {
    width: 80%;
    padding-top: 10px;
  }

  .nav-menu-right button {
    font-style: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border: 1px solid #3c3c3c;
    padding: 8px 20px;
    font-size: 10px;
    letter-spacing: 4px;
    background-color: #ffffff;
    margin-right: 24px;
    margin-top: 16px;
  }

  .info-section {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .info-1 {
    grid-template-columns: 110px auto;
  }

  .info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-2 button {
    margin-left: 20%;
  }

  .info-3 {
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .project-grid {
    grid-template-columns: 360px 360px;
    grid-column-gap: 30px
  }

  .project-card {
    max-width: 360px;
    background: #fff;
  }

  .project-card img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 820px) {
  .project-grid {
    grid-template-columns: 550px;
  }
}

@media only screen and (max-width: 610px) {
  .project-grid {
    grid-template-columns: 80vw;
    margin-left: 0 auto;
  }
}
