body {
  color: #3c3c3c;
  overflow-x: hidden;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 99vh;
  top: -120px;
  right: -180px;
  z-index: -100;
}

.hero-image img {
  width: auto;
  height: 100%;
  float: right;
}

.body-wrapper {
  max-width: 1280px !important;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

.nav-menu {
  padding-top: 20px;
  position: relative;
}

.nav-menu-left {
  position: absolute;
  top: 32px;
}


.nav-menu-right {
  float: right;
}

button {
  font-style: 'Nunito Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #3c3c3c;
  padding: 13.75px 33.32px;
  font-size: 14px;
  letter-spacing: 4px;
  background-color: #ffffff;
  margin-right: 24px;
}

button:hover {
  background-color: #3c3c3c;
  color: #fbfbfb;
  cursor: pointer;
}

#btn-last {
  margin-right: 0px;
}

.hero {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
}

h1, h2 {
  margin-top: 20vh;
  font-size: calc(32px + 2.5vw);
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.15;
}

#btn-black {
  background-color: #3c3c3c;
  color: #fbfbfb;
}

#btn-black:hover, #btn-white:hover {
  background-color: #fff500;
  color: #3c3c3c;
  cursor: pointer;
}

.social {
  color: #3c3c3c;
  position: absolute;
  top: 80vh;

}

.social img {
 margin-right: 12px;
}

.hero-padding {
  width: 100vw;
  clear: both;
  height: 380px;
}

.info-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  clear: both;
  min-height: 500px;
}

.info-1 {
    display: grid;
    grid-template-columns: auto auto;
}

.info-3 {
    display: grid;
    grid-template-columns: 116px auto 116px auto;
}


p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  padding-right: 100px;
  padding-left: 40px;
  line-height: 1.4;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  position: absolute;
  height: 2px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  color: #3c3c3c;
  background-color: #3c3c3c;
  left: 0;
  bottom: -22px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}


.cert {
  display: grid;
  grid-template-columns: 82px auto;
  margin-top: 20px;
}

.cert-icon {
  width: 80px;
  height: auto;
}

.cert-text h2 {
  margin: 0px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  font-family: 'Nunito Sans', sans-serif;

}

.cert-text p {
  margin: 0px;
  padding-left: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.info-3 p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  padding-left: 8px;
  padding-top: 20px;
}

.button-container {
  margin-top: 50px;
}

.button-container button {
  border: 2px solid #3c3c3c;
  font-weight: 600;
}


.button-container button:hover {
  background-color: #fff500;
  color: #3c3c3c;
}

hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-top: 60px;
}

.project-section {

}

.project-section h1 {
  margin-top: 80px;
}

.project-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 30px;
}

.project-card {
  border: 2px solid #3c3c3c;
}

.card-info {
  display: grid;
  grid-template-columns: 116px auto;
  background-color: #3c3c3c;
  color: #ccc;
}

.project-card img {
  height: 100%;
  width: auto;

}

.card-info p {
  margin-left: 14px;
  padding-left: 0px;
  font-size: 23px;
  margin-top: 10px;
  padding-right: 10px;

}


.small-text {
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 1;
  letter-spacing: 3px;
}

.footer-banner {
  width: 100vw;
  background-color: #f8f8f8;
  height: 430px;
  z-index: -20;
}

.banner-container {
  position: relative;
  max-width: 1340px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.banner-image {
  position: absolute;
  right: 5vw;
  top: 115px;
}



.banner-title h2 {
  font-size: 40px;
  padding-top: 115px;
  line-height: 1.2;
  font-family: 'Nunito Sans', sans-serif;
}

.banner-title button {
  float: left;
  display: inline;
}


.banner-title p {
  margin-top: -8px;
  padding-left: 4px;
}
